/* || GENERAL STYLES */

* {
    font-family:  Helvetica, Arial, sans-serif;

    scrollbar-color: grey transparent;
    scrollbar-width: thin;

    cursor: default;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}
  
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: grey;
}


/* || SITEWIDE */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

header {
    height: 80px;
    padding-left: 20px;

    background-color: #6868BE;
    color: white;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 50px;

    background-color: #C7C7FF;
    color: white;

    display: flex;
    align-items: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

article {
    flex-grow: 1;
}

footer {
    background-color: #6868BE;
    padding: 5px;
}

h1 {
    font-size: 3em;
}

a {     
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 0.5em;     
    margin: -0.5em; 
 }


/* || CLASS/ID SPECIFIC */

.hidden {
    opacity: 0;
    visibility: hidden;
}

.nav-button {
    height: 50px;
    width: 150px;
    border: none;
    padding: 0;

    background-color: #C7C7FF;
    color: white;

    font-size: 1.5em;
    font-weight: lighter;

    transition-duration: 0.3s;
}

.nav-button:not(.nav-button-active):hover {
    background-color: #B8B8FF;
  }

.nav-button-active {
    background-color: #9393FF;
    font-weight: normal;
}

#monocle-item {
    margin: auto 10px auto auto;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
}

#monocle-link {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    white-space: nowrap;

    display: flex;
    gap: 0.5em;
}

#monocle-link:hover  {
    text-decoration: underline;
}

#monocle-new-window-icon {
    width: 20px;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    overflow: auto;
}

.content-container {
    grid-row-start: 1;
    grid-column-start: 1;
    transition: 0.3s;
}

#summary-view {
    display: flex;
    align-items: center;
    gap: 3em;
    width: 90vw;
    margin: 2em auto;
}

#summary-view:before {
    content: "";
    border: 1px solid #6868BE;
    align-self: stretch;
}

#summary-view-left {
    flex: 1;
    order: -1;

    display:flex;
    flex-direction: column;
    gap: 4em;
}

.summary-view-left-container {
    display: flex;
    gap: 2em;
}

.summary-view-left-container-left-icon {
    width: 80px;
}


.summary-view-left-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
    white-space: nowrap;
}

.summary-view-left-container-right-top {
    font-size: 1.3em;
    font-weight: bold;
}

.summary-view-left-container-right-bottom {
    font-size: 2em;
}

#summary-view-right {
    flex: 3;

    display:flex;
    flex-direction: column;
    gap: 4em;
}

.summary-view-right-container {
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.summary-view-right-container-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.summary-view-right-container-container-chart {
    width: 15vw;
}

.summary-view-right-container-container-title {
    font-size: 1.3em;
    font-weight: bold;
    white-space: nowrap;
}

#by-country-view {
    display: flex;
    align-items: center;
    justify-content: center;
}

#by-country-view-map {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 80vh;
}

#by-country-view-list {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

#by-country-view-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#by-country-view-list ul li {
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

#by-country-view-list ul li:hover {
    background-color: #B8B8FF;
}

#world-map {
    width: 80vw;
    max-width: 1200px;
}

#country-list-search {
    background-image: url('/images/search_icon.svg');
    background-position: 10px 12px;
    background-size: 1em;
    background-repeat: no-repeat;

    font-size: 1em;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#country-list {
    max-height: 80vh;
    overflow-y: auto;
}

#by-country-view-tooltip {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 50px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#by-country-view-tooltip-instruction{
    grid-row-start: 1;
    grid-column-start: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #D3D3D3;
    
    transition: 0.3s;
}

#by-country-view-tooltip-display {
    grid-row-start: 1;
    grid-column-start: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    transition: 0.3s;
}

#by-country-view-tooltip-value {
    font-weight: bold;
    font-size: 1.3em;
}

#by-country-view-tooltip-prompt {
    color: #D3D3D3;
}

#by-country-view-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#back-to-map-item {
    margin: 10px;
    border: 2px solid #6868BE;;
    border-radius: 10px;
    padding: 5px;

    align-self: flex-start;
}

#back-to-map-link {
    color: #6868BE;
    text-decoration: none;
    font-size: 1.3em;
    white-space: nowrap;
    
    display: flex;
    gap: 0.5em;
}

#back-to-map-link:hover  {
    text-decoration: underline;
}

#back-to-map-icon {
    width: 20px;
}

#by-country-view-details-title {
    font-size: 2em;
    font-weight: bold;
}

#by-country-view-details-content {
    flex-grow: 1;
    align-self: stretch;
    margin: 5vw;

    display: flex;
    align-items: center;
}

#by-country-view-details-content-button-group {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.country-button {
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 10px;
    padding: 0;

    background-color: #C7C7FF;
    color: white;

    font-size: 1.5em;
    font-weight: lighter;

    transition-duration: 0.3s;
}

.country-button:not(.country-button-active):hover {
    background-color: #B8B8FF;
  }

.country-button-active {
    background-color: #9393FF;
    font-weight: normal;
}

#by-country-view-details-content-chart {
    flex-grow: 1;

    display: flex;
    justify-content: center;
}

#by-country-view-details-content-tooltip {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    transition-duration: 0.3s;
}

.footer-hyperlink {
    color: white;
    text-decoration: none;
    font-size: 1em;
    margin: 5px;
    white-space: nowrap;
}

.footer-hyperlink:hover {
    text-decoration: underline;
}
